/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles for a dark theme */
body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  margin: 0;
}

/* Container for the WeatherApp */
.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Search form */
.weather__search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.weather__searchform {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  transition: border 0.3s;
}

.weather__searchform::placeholder {
  color: #888;
}

.weather__searchform:focus {
  border: 1px solid #61dafb;
}

/* Weather units */
.weather__units {
  margin-top: 10px;
}

.weather_unit_celsius,
.weather_unit_farenheit {
  cursor: pointer;
  margin: 0 5px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

/* Weather header */
.weather__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Weather city name */
.weather__city {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

/* Weather icon */
.weather__icon {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
}

/* Temperature */
.weather__temperature {
  font-size: 28px;
  margin: 10px 0;
}

/* Min-Max temperature */
.weather__minmax {
  font-size: 16px;
  margin: 10px 0;
}

/* Weather information cards */
.weather__info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.weather__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather__card i {
  font-size: 24px;
  margin-bottom: 10px;
  color: #61dafb;
}

/* Styling for other weather attributes, e.g., Real Feel, Humidity, Wind, Pressure */
.weather__realfeel,
.weather__humidity,
.weather__wind,
.weather__pressure {
  font-weight: bold;
}
